@charset "utf-8";

/***** header *****/
header .header-wrapper {
  width: 90%;
  height: 80px;
}

header h1 {
  width: 180px;
}

header h1 a {
  display: flex;
  height: 100%;
  align-items: center;
}

header nav .mobile-btn {
  display: none;
}

header nav .global-nav {
  display: flex;
  position: static;
  padding: 0;
  background-color: var(--bg-color1);
  font-size: 1.05rem;
  min-width: 435px;
  justify-content: center;
}

header nav .global-nav a {
  height: 80px;
  display: grid;
  place-items: center;
  padding: 0 15px;
}

header .header-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 30px;
  font-size: 13px;
  gap: 5px;
  background-color: #d0f1f86e;
  border-radius: 30px;
}

header .header-button svg {
  width: 20px;
  fill: var(--main-color);
}

.fix {
  display: block;
  position: fixed;
  right: 20px;
  top: 40%;
  z-index: 9999;
}

.fix li {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 3px solid var(--main-color);
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 0.9rem;
  margin: 15px 0;
  box-shadow: 5px 4px 10px #0000002c;
  transition: 0.5s;
}

.fix li:hover {
  transform: translateY(6px);
}

.fix li svg {
  width: 18px;
  padding-top: 1px;
  fill: var(--main-color);
}

.welcome .welcome-txt h1 {
  font-size: 4.375rem;
}

.welcome-img {
  width: 70%;
  margin: 40px auto;
}

.side-img-1 {
  width: 22vw;
  top: 0px;
  left: 10%;
}

.side-img-2 {
  width: 20%;
  bottom: 6%;
  right: 13%;
}

.side-txt img:nth-child(1) {
  top: 10%;
  width: 13vw;
  right: 15%;
}

.side-txt img:nth-child(2) {
  bottom: 5%;
  width: 14vw;
  left: 13%;
}

/****** arrivals ******/
.arrivals {
  padding: 75px 0 50px;
}
.section-txt {
  font-size: 2.2rem;
}

.arrivals-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85%;
  margin: 40px auto;
}

.arrivals-img figcaption {
  transform: translateX(-5px);
}
.arrivals-img figure:nth-child(1) {
  display: none;
}

.arrivals-img figure:nth-child(2) {
  display: block;
  margin: 0 auto;
  width: 120%;
}
.arrivals-img figure:nth-child(3) {
  display: block;
  margin: 0 auto;
  width: 180%;
}

.arrivals-img figure:nth-child(4) {
  display: block;
  margin: 0 auto;
  width: 120%;
}

.arrivals-img figure:nth-child(5) {
  display: none;
}

/* 바닐라 크림 어쩌고 */
.arrivals-img figure figcaption {
  white-space: nowrap;
  text-align: center;
}

.best {
  position: relative;
  z-index: 99;
}
.best a {
  font-family: "Rubik";
  display: block;
  background-color: #939df4;
  color: #fff;
  width: 80px;
  height: 30px;
  line-height: 30px;
  box-shadow: 5px 5px #000;
  position: absolute;
  top: 5px;
  right: 22%;
  transform: rotate(-15deg);
  z-index: -9;
}
/****** news ******/

.news li {
  font-size: 1.2rem;
  padding: 25px 40px;
}

.news1 span {
  display: inline-block;
  width: 180px;
  font-size: 1.15rem;
}

/****** insta ******/
.insta .insta-txt {
  padding-bottom: 20px;
}
.insta-img img:nth-child(n + 5):nth-child(-n + 7) {
  display: block;
}

.insta-img img {
  width: 180px;
  border: 2.5px solid #000;
}

.insta-txt svg {
  width: 40px;
}

/****** youtube ******/

.youtube-wrapper iframe:nth-child(1) {
  display: block;
}

.youtube-wrapper iframe:nth-child(3) {
  display: none;
}

.youtube-wrapper {
  display: flex;
  width: 85%;
  gap: 20px;
  padding: 40px 0 20px;
}
.youtube-wrapper iframe {
  width: 100%;
  aspect-ratio: 16 /9;
}

.flow-text {
  font-size: 1.4rem;
}

/****** footer ******/
footer {
  padding: 50px 0;
}

footer .service {
  font-size: 14px;
  display: flex;
  position: static;
  gap: 14px;
}

.number p span {
  display: inline;
  font-size: 1.4rem;
  margin-left: 5px;
}

.icon-box a {
  margin-left: 20px;
}
.icon-box svg {
  width: 25px;
  height: 25px;
  fill: #fff;
}

.bottom-txt .copy {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
}

.portfolio a {
  font-size: 0.8rem;
  width: 130px;
  height: 40px;
  line-height: 40px;
}
