@charset "utf-8";


/***** header *****/
header .header-wrapper {
  width: 90%;
  height: 80px;
}

.hamburger_btn {
  display: none;
}

header h1 {
  width: 220px;
}

header h1 a {
  display: flex;
  height: 100%;
  align-items: center;
}

header nav .mobile-btn {
  display: none;
}

header nav .global-nav {
  display: flex;
  position: static;
  padding: 0;
  background-color: var(--bg-color1);
  font-size: 1.2rem;
  min-width: 700px;
}

header nav .global-nav a {
  height: 80px;
  display: grid;
  place-items: center;
  padding: 0 35px;
}

header .header-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 190px;
  height: 35px;
  font-size: 16px;
  gap: 5px;
  background-color: #d0f1f86e;
  border-radius: 30px;
}

header .header-button svg {
  width: 20px;
  fill: var(--main-color);
}

.fix {
  right: 35px;
}

.fix li {
  width: 100px;
  height: 100px;
  font-size: 1.1rem;
  margin: 20px 0;
}

.fix li svg {
  width: 20px;
  padding-top: 1px;
  fill: var(--main-color);
}

.welcome .welcome-txt h1 {
  font-size: 5.625rem;
}

.welcome-img {
  width: 55%;
  margin: 40px auto;
}

.side-img-1 {
  width: 15%;
  top: 0px;
  left: 21%;
}

.side-img-2 {
  width: 13.5%;
  bottom: 8%;
  right: 20%;
}

.side-txt img:nth-child(1) {
  top: 10%;
  width: 8.5vw;
  right: 23%;
}

.side-txt img:nth-child(2) {
  bottom: 5%;
  width: 9vw;
  left: 24%;
}

/****** arrivals ******/
.section-txt {
  font-size: 2.7rem;
}

.swiper {
  padding: 70px 0;
}
.section-txt .swiper figcaption {
  font-size: 1.5rem;
}

/****** news ******/
.news li {
  font-size: 1.4rem;
  padding: 25px 50px;
}

.news1 span {
  width: 300px;
  display: inline-block;
  font-size: 1.5rem;
}

/****** insta ******/
.insta {
  padding: 80px 0 100px;
} 

.insta-txt svg {
  width: 40px;
}

.slide-track{
  display:flex;
  width: calc(300px * 12);
  animation: scroll 40s linear infinite;
}

.slide{
  display: flex;
  align-items:center;
  padding: 15px 10px;
}

/****** youtube ******/
.youtube .section-txt {
  padding-bottom: 15px;
}
.youtube-wrapper iframe:nth-child(1) {
  display: block;
}

.youtube-wrapper iframe:nth-child(3) {
  display: block;
}

.youtube-wrapper {
  display: flex;
  width: 85%;
  gap: 20px;
  padding: 50px 0 35px;
}
.youtube-wrapper iframe {
  width: 100%;
  aspect-ratio: 16 /9;
}

.flow-text {
  font-size: 1.5rem;
}

/****** footer ******/
footer {
  padding: 50px 0;
}

footer .service {
  font-size: 16px;
  display: flex;
  position: static;
  gap: 20px;
}

.number p {
  font-size: 1rem;
}

.number p span {
  display: inline;
  font-size: 2rem;
}

.icon-box a {
  margin-left: 20px;
}
.icon-box svg {
  width: 30px;
  height: 30px;
  fill: #fff;
}

.bottom-txt .copy {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
}

.portfolio a {
  font-size: 1rem;
  width: 160px;
  height: 45px;
  line-height: 45px;
}
