@charset "utf-8";
@charset "utf-8";

/* fonts */

/* 400=regular 500=medium 600=semibold */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Noto+Sans+KR:wght@400;500&display=swap");

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
/* 변수 설정 */
:root {
  --en-font: "Montserrat", sans-serif;
  --ko-font: "Noto Sans KR", sans-serif;
  --point-color: #b25252;
  --bg-color1: #fffbf5;
  --bg-color2: #f6eee3;
  --ko-font2: "NEXON Lv1 Gothic OTF";
  --ko-font3: "Pretendard-Regular";
}

/* 드래그 */
::selection {
  background-color: #333333e0;
  color: #fff;
}

/* 스크롤바 */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: var(--bg-color2);
}

::-webkit-scrollbar-thumb {
  background-color: #b25252;
}

html {
  /* 부드러운 스크롤 */
  scroll-behavior: smooth;
}
body {
  color: #333;
  font-family: var(--ko-font3);
  background-color: var(--bg-color1);
}

/****** nav ******/
nav {
  width: 100%;
  font-family: var(--en-font);
  font-weight: 500;
  background-color: #f6eee3;
  /*  position: sticky;
  top: 0; */
  z-index: 9999;
}

.navwrapper {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
}

nav h1 img {
  width: 80px;
  transform: translate(-50px);
}

nav .global-nav {
  display: flex;
  gap: 20px;
  font-size: 25px;
}

nav .global-nav li:hover {
  transition: 0.5s;
  transform: translateY(-8px);
}

/****** header ******/

header {
  width: 100%;
  height: calc(100vh - 119.15px);
  background-color: var(--bg-color2);
  border-radius: 0 0 30px 30px;
}

.header_wrap {
  width: 80%;
  margin: 0 auto;
  display: flex;
  gap: 4vw;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header_wrap img {
  width: 53%;
}
.headertxt {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.headertxt h1 {
  font-family: var(--en-font);
  font-size: 3vw;
  font-weight: bold;
  position: relative;
}

.headertxt h1::after {
  content: "";
  width: 30vw;
  height: 2vh;
  background-color: #edd6b7;
  position: absolute;
  left: -0.5vw;
  bottom: -0.03vw;
  z-index: -9;
}

.headertxt h2 {
  font-size: 1.563vw;
  padding: 40px 0;
  font-weight: 600;
}

.headertxt-ul {
  display: flex;
  gap: 20px;
  font-size: 1.042vw;
}

.headertxt-ul li {
  position: relative;
}

/***** 글자 앞 동그라미 before *****/
.headertxt-ul li::before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 13px;
  margin: -2px 10px 0 0;
  vertical-align: middle;
  background: var(--point-color);
  border-radius: 50%;
}
