@charset "utf-8";

/* fonts */

/* 400=regular 500=medium 600=semibold */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Noto+Sans+KR:wght@300;400;500;600;700;800&family=Rubik:wght@700;800&display=swap");

/* 변수 설정 */
:root {
  --en-font: "Montserrat", sans-serif;
  --ko-font: "Noto Sans KR", sans-serif;
  --recolta: "Recoleta", sans-serif;
  --gt: "GT Walsheim Pro", sans-serif;
  --point-color: #b25252;
  --bg-color1: #fffbf5;
  --bg-color2: #f6eee3;
  --ko-font3: "Pretendard Variable", "맑은 고딕", sans-serif;
  --point-txt: #9e4b4b;
  --btn-color: #f3e7d6e5;
}

/* 드래그 */
::selection {
  background-color: #333333e0;
  color: #fff;
}

/* 스크롤바 */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: var(--bg-color2);
}

::-webkit-scrollbar-thumb {
  background-color: #b25252;
}

html {
  /* 부드러운 스크롤 */
  scroll-behavior: smooth;
}
body {
  color: #333;
  font-family: var(--ko-font3);
  background-color: var(--bg-color1);
  overflow-x: hidden;
}

.dot {
  position: relative;
  font-size: 1.3vw;
  font-weight: 600;
}

.dot::before {
  content: "";
  display: inline-block;
  width: 0.75vw;
  height: 0.75vw;
  margin: -2px 10px 0 0;
  vertical-align: middle;
  background: var(--point-color);
  border-radius: 50%;
}

/****** nav ******/
nav {
  width: 100%;
  font-family: var(--en-font);
  font-weight: 500;
  background-color: #f6eee3;
  /*  position: sticky;
  top: 0; */
  z-index: 9999;
}

.navwrapper {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
}

nav h1 img {
  width: 80px;
  transform: translate(-50px);
}

nav .global-nav {
  display: flex;
  gap: 20px;
  font-size: 25px;
}

nav .global-nav li:hover {
  transition: 0.5s;
  transform: translateY(-8px);
}

/****** header ******/

header {
  width: 100%;
  height: calc(100vh - 119.15px);
  background-color: var(--bg-color2);
  border-radius: 0 0 30px 30px;
}

.header_wrap {
  width: 80%;
  margin: 0 auto;
  display: flex;
  gap: 4vw;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header_wrap img {
  width: 54%;
}
.headertxt {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.headertxt span {
  font-family: var(--en-font);
}

.headertxt h1 {
  font-family: var(--en-font);
  font-size: 3vw;
  font-weight: bold;
  position: relative;
}

.headertxt h1::after {
  content: "";
  width: 19.5vw;
  height: 2vh;
  background-color: #706056bb;
  position: absolute;
  left: -0.55vw;
  bottom: -0.03vw;
  z-index: -9;
}

.headertxt h2 {
  font-size: 1.563vw;
  padding: 40px 0;
  font-weight: 600;
}

.headertxt h2 span {
  font-family: var(--en-font);
}
.headertxt-ul {
  display: flex;
  gap: 20px;
  font-size: 1.042vw;
  padding-bottom: 1vw;
}

.headertxt-ul li {
  position: relative;
  font-weight: 500;
}

.headertxt-ul li::before {
  content: "";
  display: inline-block;
  width: 0.75vw;
  height: 0.75vw;
  margin: -2px 10px 0 0;
  vertical-align: middle;
  background: var(--point-color);
  border-radius: 50%;
}

/****** overview ******/
.overview {
  padding: 12vw 0 0;
}

/* 섹션별 밑 여백 조정할때 */
.common_wrap {
  width: 80%;
  margin: 0 auto;
  position: relative;
  display: flex;
  gap: 10vw;
  border-bottom: 1px solid #333;
  padding: 0 7vw 10vw;
}

.common_wrap h1 {
  font-size: 3.3vw;
  font-family: var(--en-font);
  font-weight: bold;
}

.common_wrap .pencileffect {
  position: absolute;
  top: -1.7vw;
  left: 5.5vw;
  width: 25%;
  z-index: -999;
}

.overview_txt {
  width: 55%;
  transform: translateX(3vw);
}

.overview_txt .overview_txt_ul li {
  position: relative;
  font-size: 1.3vw;
  font-weight: 600;
  margin-bottom: 2vw;
}

.overview_txt .overview_txt_ul li p {
  font-weight: 400;
  font-size: 1.05vw;
  line-height: 1.5;
  padding: 1vw 0 0 1.3vw;
}

.overview_txt .overview_txt_ul li::before {
  content: "";
  display: inline-block;
  width: 0.75vw;
  height: 0.75vw;
  margin: -2px 10px 0 0;
  vertical-align: middle;
  background: var(--point-color);
  border-radius: 50%;
}

.overview_txt .overview_txt_ul li:first-child p:last-child {
  padding: 0 0 0 1.3vw;
  margin-top: -10px;
}

.overview_txt .overview_txt_ul li strong {
  color: var(--point-txt);
}

.overview_txt .overview_txt_ul li:nth-child(3) p {
  background-color: var(--btn-color);
  margin-top: 1vw;
  margin-left: 1vw;
  width: 5.5vw;
  height: 2.5vw;
  padding: 0;
  display: grid;
  place-items: center;
  box-shadow: 4px 4px 10px #3333333a;
  border-radius: 30px;
  font-family: var(--en-font);
  font-weight: 500;
}

/****** technology ******/
.technology {
  padding: 10vw 0 0;
}

.technology .common_wrap .pencileffect {
  width: 28%;
  top: -2vw;
}

.technology_txt {
  width: 50%;
}

.technology_txt p {
  margin-bottom: 2vw;
}

.technology_ul1,
.technology_ul2 {
  display: flex;
  gap: 1.5vw;
  margin-bottom: 1vw;
}

.technology_ul2 {
  margin-bottom: 0;
}

.technology_ul1 li,
.technology_ul2 li {
  background-color: var(--btn-color);
  padding: 0.8vw 1.5vw;
  border-radius: 30px;
  box-shadow: 4px 4px 10px #3333333a;
  font-family: var(--en-font);
  font-weight: 500;
  font-size: 0.95vw;
}

/****** styleguide ******/
.styleguide {
  padding: 10vw 0 0;
}

.styleguide .pencileffect {
  width: 27%;
  left: 5.7vw;
  top: -1.8vw;
}

.styleguide .styleguide_txt {
  width: 53%;
}

.styleguide_txt .styleguide_ul li {
  margin-bottom: 2vw;
  font-family: var(--en-font);
}

.styleguide_txt .styleguide_ul li p,
.styleguide_txt .styleguide_ul li span {
  font-family: var(--ko-font3);
}

.styleguide_txt .styleguide_ul li:first-child p {
  font-size: 1.05vw;
  line-height: 1.5;
  padding: 1vw 0 0 1.3vw;
  font-weight: 400;
}

.styleguide_txt .styleguide_ul li p strong {
  color: var(--point-txt);
}
.styleguide_txt .styleguide_ul li:nth-child(1) .keyword-wrap {
  margin: 1.1vw 0 0 1.3vw;
}
.styleguide_txt .styleguide_ul li:nth-child(1) .keyword-wrap span {
  font-size: 0.9vw;
  font-weight: 600;
  display: inline-block;
  border: 1.5px solid #333;
  width: 5vw;
  height: 5vw;
  line-height: 5vw;
  text-align: center;
  border-radius: 50%;
  margin-right: 1vw;
}

.styleguide_txt .styleguide_ul img {
  width: 60%;
  display: block;
  margin: 0.5vw 0 0 1vw;
}

.styleguide .typo-wrap {
  margin: 3vw 0 0 2vw;
  font-size: 1.05vw;
  text-align: center;
  line-height: 2;
}

.styleguide .typo-wrap h3 {
  font-weight: 600;
  border-bottom: 1px solid #333;
  margin-bottom: 0.7vw;
}

.styleguide .typo-wrap .typo-left > h3,
.styleguide .typo-wrap .typo-left > p {
  font-family: var(--ko-font3);
}
.styleguide .typo-wrap .typo-right > h3,
.styleguide .typo-wrap .typo-right > p {
  font-family: var(--en-font);
}

.typo-top {
  width: 44%;
  margin-bottom: 3vw;
}
.typo-bottom {
  display: flex;
  gap: 3.5vw;
}
.typo-left,
.typo-right {
  width: 44%;
}

.typo-top .Light {
  font-weight: 300;
}

.typo-wrap .Regular {
  font-weight: 400;
}

.typo-wrap .Medium {
  font-weight: 500;
}

.typo-wrap .Bold {
  font-weight: 700;
}

.typo-wrap .Black {
  font-weight: 800;
}

.typo-wrap .ExtraBold {
  font-weight: 800;
}

.typo-wrap .UltraBold {
  font-weight: 900;
}

/****** publishing ******/
.publishing {
  padding: 10vw 0 0;
}
.publishing .pencileffect {
  left: 5.7vw;
  width: 26.5%;
}
.publishing .publishing_txt h3 {
  margin-bottom: 2vw;
}

.publishing_ul {
  line-height: 2.4;
  font-size: 1.05vw;
  margin-left: 1.3vw;
  font-weight: 500;
}

/****** problem & solution ******/
.problem_solution {
  padding: 10vw 0 0;
}

.problem_solution .pencileffect {
  width: 27%;
  top: -0.7vw;
}

.problem_solution .common_wrap h1 {
  line-height: 1;
}
.problem_solution .common_wrap h1 span {
  margin-right: 5px;
}

.problem_solution_ul li:first-child {
  margin-top: 3vw;
}

.problem_solution_ul li {
  line-height: 1.5;
  font-size: 1.05vw;
  margin-top: 4vw;
  margin-left: 1.3vw;
  font-weight: 600;
  word-break: break-all;
}

.problem_solution_ul li p:last-child {
  padding-bottom: 0;
}
.problem_solution_ul li p {
  font-size: 1vw;
  font-weight: 400;
  padding: 0.5vw 0 0 1.1vw;
  background-color: var(--bg-color1);
  padding-bottom: 1vw;
}

.problem_solution_ul li strong {
  color: var(--point-txt);
}

/****** review  ******/
.review {
  padding: 10vw 0 0;
}

.review .pencileffect {
  width: 22%;
  top: -1.2vw;
  left: 4.8vw;
}
.review_txt h3 {
  padding-bottom: 2vw;
}
.review_txt p {
  line-height: 1.5;
  font-size: 1vw;
  margin-top: 1.5vw;
  margin-left: 1.3vw;
}

.review .common_wrap {
  border-bottom: none;
}
/****** footer  ******/
.footer_ul {
  display: flex;
  width: 90%;
  margin: 5vw auto;
  margin-bottom: 6vw;
  text-align: center;
  gap: 2vw;
  font-family: var(--en-font);
}

.footer_ul li {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7vw;
  border: 3px solid #333;
  width: 22.5vw;
  padding: 0.8vw 0;
  font-weight: 500;
  border-radius: 50px;
  transition: 0.3s;
}

.footer_ul li a {
  width: 70%;
}

.footer_ul li svg {
  fill: #333;
  width: 40px;
  height: 40px;
}
.footer_ul li:nth-child(2) {
  border-color: #b25252;
  color: #b25252;
}

.footer_ul li:hover {
  transform: translateY(-10px);
}

/****** 하단버튼  ******/
.arrowbtn a {
  display: block;
  background-color: #b25252;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  fill: var(--bg-color1);
  transition: 0.3s;
  position: fixed;
  bottom: 3vw;
  right: 3vw;
}

.arrowbtn a:hover {
  transform: translateY(-7px);
}

/* .cursor {
  position: absolute;
  top: 0;
  left: 0;
  width: 3vw;
  height: 3vw;
  transform: translate(-50%, 5%);
  z-index: 9;
  will-change: transform;
  pointer-events: none;
}
 */
